<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/layout.html :: head}"></head>
<body>
<header th:replace="~{fragments/layout.html :: header}"></header>
<article>
    <header>
        <h3 class="py-4">Editace pojištěnce</h3>
    </header>
    <section>
        <form method="post"
              th:action="@{'/pojistenci/edit/' + ${insuredId}}" th:object="${insuredDTO}">
            <div class="form-row col-xl-8 col-sm">
                <div class="form-group col-md-6 col-sm">
                    <label for="firstName">Jméno</label>
                    <input th:field="*{firstName}" type="text" class="form-control" placeholder="Jméno" id="firstName">
                    <small class="text-danger" th:errors="*{firstName}"></small>
                </div>
                <div class="w-100 d-md-none"></div>
                <div class="form-group col-md-6 col-sm">
                    <label for="lastName">Příjmení</label>
                    <input th:field="*{lastName}" type="text" class="form-control" placeholder="Příjmení" id="lastName">
                    <small class="text-danger" th:errors="*{lastName}"></small>
                </div>
            </div>
            <div class="form-row col-xl-8 col-sm">
                <div class="form-group col-md-6 col-sm">
                    <label for="email">Email</label>
                    <input th:field="*{email}" type="email" class="form-control" placeholder="jannovak88@seznam.cz"
                           id="email">
                    <small class="text-danger" th:errors="*{email}"></small>
                </div>
                <div class="w-100 d-md-none"></div>
                <div class="form-group col-md-6 col-sm">
                    <label for="phoneNumber">Telefon</label>
                    <input th:field="*{phoneNumber}" type="text" class="form-control" placeholder="111 111 111"
                           id="phoneNumber">
                    <small class="text-danger" th:errors="*{phoneNumber}"></small>
                </div>
            </div>
            <div class="form-row col-xl-8 col-sm">
                <div class="form-group col-md-6 col-sm">
                    <label for="street">Ulica a číslo popisné</label>
                    <input th:field="*{street}" type="text" class="form-control" placeholder="Ve svahu 3" id="street">
                    <small class="text-danger" th:errors="*{street}"></small>
                </div>
                <div class="w-100 d-md-none"></div>
                <div class="form-group col-md-6 col-sm">
                    <label for="city">Město</label>
                    <input th:field="*{city}" type="text" class="form-control" placeholder="Praha 1" id="city">
                    <small class="text-danger" th:errors="*{city}"></small>
                </div>
            </div>
            <div class="form-row col-xl-8 col-sm">
                <div class="form-group col-md-6 d-none d-md-block">
                </div>
                <div class="form-group col-md-6 col-sm">
                    <label for="zip">PSČ</label>
                    <input th:field="*{zip}" type="text" class="form-control" placeholder="100 00" id="zip">
                    <small class="text-danger" th:errors="*{zip}"></small>
                </div>
            </div>
            <div class="d-flex flex-column flex-sm-row justify-content-center mt-3 mb-4">
                <button class="btn btn-primary mx-0 mx-sm-1 my-1 my-md-0" type="submit">Uložit</button>
            </div>
        </form>
    </section>
</article>

</body>
</html>