<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/layout.html :: head}"></head>
<body>
<header th:replace="~{fragments/layout.html :: header}"></header>

<div class="py-2 mt-3 alert alert-success text-center" th:text="${success}" th:if="${success}"></div>
<div class="py-2 mt-3 alert alert-danger text-center" th:text="${error}" th:if="${error}"></div>

<article>
    <header>
        <h3 class="py-4">Pojištěnci</h3>
    </header>
    <section class="d-flex flex-column align-items-center col-xl-8 col-sm">
        <a class="btn btn-primary" sec:authorize="hasRole('POLICYHOLDER')" th:href="@{/pojistenci/novyPojistenec}">Nový pojištěnec</a>
        <table class="table mt-3" style="border: 2px solid black">
            <thead>
            <th class="col-3" style="border: 2px solid black">Jméno</th>
            <th class="col-6" style="border: 2px solid black">Bydliště</th>
            <th class="col-3" style="border: 2px solid black"></th>
            </thead>
            <tbody id="table">
            <tr th:each="insured: ${insuredList}" style="border: 2px solid black">
                <td style="border: 2px solid black"><a th:href="@{'/pojistenci/' + ${insured.insuredId}}"
                                                       th:text="${insured.firstName} + ' ' + ${insured.lastName}"></a>
                </td>
                <td style="border: 2px solid black" th:text="${insured.street} + ', ' + ${insured.city}"></td>
                <td class="d-flex flex-column flex-md-row justify-content-md-start">
                    <a class="btn btn-danger mb-1 mb-md-0 mr-md-2" sec:authorize="hasAnyRole('ADMIN', 'POLICYHOLDER')"
                       th:href="@{'/pojistenci/delete/' + ${insured.insuredId}}">Odstranit</a>
                    <a class="btn btn-warning"
                       th:href="@{'/pojistenci/edit/' + ${insured.insuredId}}">Editovat</a>

            </tr>
            </tbody>
        </table>
        <div id="pagination" th:if="${pagination}" class="d-flex justify-content-center align-items-center mt-3 mb-sm-3"></div>
    </section>
    <footer class="d-flex justify-content-center align-items-center mt-3 mb-sm-3">
        <nav aria-label="Stránkování">
            <ul class="pagination">
                <li th:if="${previousPage}" class="page-item">
                    <a class="page-link" th:href="@{'/pojistenci/stranka/' + ${previousPage}}" aria-label="Prev">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Prev</span>
                    </a>
                </li>
                <li th:if="${pageBeforeLast}" class="page-item"><a class="page-link"
                                                                        th:text="${pageBeforeLast}"
                                                                        th:href="@{'/pojistenci/stranka/' + ${pageBeforeLast}}"></a>
                </li>
                <li th:if="${previousPage}" class="page-item"><a class="page-link" th:text="${previousPage}"
                                                                    th:href="@{'/pojistenci/stranka/' + ${previousPage}}"></a>
                </li>
                <li th:if="${thisPage}" class="page-item active"><a class="page-link" th:text="${thisPage}"
                                                                          href="#"></a></li>
                <li th:if="${nextPage}" class="page-item"><a class="page-link" th:text="${nextPage}"
                                                                 th:href="@{'/pojistenci/stranka/' + ${nextPage}}"></a>
                </li>
                <li th:if="${pageAfterNext}" class="page-item"><a class="page-link" th:text="${pageAfterNext}"
                                                                     th:href="@{'/pojistenci/stranka/' + ${pageAfterNext}}"></a>
                </li>

                <li th:if="${nextPage}" class="page-item">
                    <a class="page-link" th:href="@{'/pojistenci/stranka/' + ${nextPage}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </footer>
</article>

<footer></footer>

</body>
</html>