<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="">
<head th:replace="~{fragments/layout.html :: head}"></head>
<body>
<header th:replace="~{fragments/layout.html :: header}"></header>

<article>
    <header>
        <h3 th:text="'Editovat událost k ' + ${insured.firstName} + ' ' + ${insured.lastName}" class="py-4"></h3>
    </header>
    <section>
        <form method="post" th:action="@{'/udalosti/edit/' + ${insuranceEventId}}" th:object="${insuranceEventDTO}">
            <div class="form-row col">
                <div class="form-group">
                    <label for="nameofEvent">Název události</label>
                    <input type="text" th:field="*{nameOfEvent}" id="nameOfEvent" class="form-control">
                    <small class="text-danger" th:errors="*{nameOfEvent}"></small>
                </div>
            </div>
            <div class="form-row col">
                <div class="form-group">
                    <label for="dateOfEvent">Datum události</label>
                    <input th:field="*{dateOfEvent}" type="date" class="form-control" id="dateOfEvent">
                    <small class="text-danger" th:errors="*{dateOfEvent}"></small>
                </div>
            </div>
            <div class="form-group">
                <label for="eventDescription">Popis události</label>
                <textarea th:field="*{eventDescription}" type="text" class="form-control" id="eventDescription"
                          rows="5"></textarea>
                <small class="text-danger" th:errors="*{eventDescription}"></small>
            </div>
            <h5>Označte aplikovatelná pojištění</h5>
            <div class="d-flex flex-column flex-md-row">
                <div th:each="insurance: ${insuranceList}" class="form-check mr-4">
                    <label class="form-check-label">
                        <strong><input class="form-check-input" type="checkbox" th:value="${insurance.insuranceId}"
                                       th:field="*{insuranceIds}" th:text="${insurance.insuranceType}"></strong><span
                            class="ml-2" th:text="${insurance.validFrom} + ' až ' + ${insurance.validUntil}"></span>
                    </label>
                    </br>
                    <small th:if="${insurance.active}" class="text-danger">Událost nespadá do období tohoto
                        pojištění.</small>
                </div>
                <small class="text-danger" th:errors="*{insuranceIds}"></small>
            </div>
            <div class="d-flex justify-content-center align-items-center mt-3 mb-sm-3">
                <button class="btn btn-primary" type="submit">Uložit</button>
            </div>
        </form>
    </section>
</article>
</body>
</html>