<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/layout.html :: head}"></head>
<body>
<header th:replace="~{fragments/layout.html :: header}"></header>

<div class="py-2 mt-3 alert alert-success text-center" th:text="${success}" th:if="${success}"></div>
<div class="py-2 mt-3 alert alert-danger text-center" th:text="${error}" th:if="${error}"></div>

<article>
    <header>
        <h3 class="py-4">Pojistné události</h3>
        <p sec:authorize="hasAnyRole('INSURED', 'POLICYHOLDER')" class="container bg-warning py-3 mb-3 ml-0" style="border-radius: 7px;">Nové události se vždy vážou k pojištěním aktuálně přihlášeného uživatele.
            Pokud pojistník vytvoří pojistnou událost, bude se vázat k jeho pojištěním.</p>
    </header>
    <section class="d-flex flex-column align-items-center col-xl-8 col-sm">
        <a sec:authorize="hasRole('INSURED')" class="btn btn-primary" th:href="@{'/udalosti/novaUdalost'}">Nová událost</a>
        <table class="table mt-3" style="border: 2px solid black">
            <thead>
            <th class="col-3" style="border: 2px solid black">Jméno pojištěnce</th>
            <th class="col-3" style="border: 2px solid black">Název události</th>
            <th class="col-3" style="border: 2px solid black">Datum události</th>
            <th class="col-3" style="border: 2px solid black"></th>
            </thead>
            <tbody id="table">
            <tr th:each="event: ${events}" style="border: 2px solid black">
                <td style="border: 2px solid black"><a
                        th:href="@{'/pojistenci/' + ${event.insuredId}}"
                        th:text="${event.insuredFirstName} + ' ' + ${event.insuredLastName}"></a></td>
                <td style="border: 2px solid black"><a
                        th:href="@{'/udalosti/' + ${event.insuranceEventId} + '/detail'}"
                        th:text="${event.nameOfEvent}"></a></td>
                <td style="border: 2px solid black" th:text="${event.dateOfEvent}"></td>
                <td class="d-flex flex-column flex-md-row justify-content-md-start">
                    <a class="btn btn-danger mb-1 mb-md-0 mr-md-2"
                       th:href="@{'/udalosti/delete/' + ${event.insuranceEventId}}">Odstranit</a>
                    <a class="btn btn-warning"
                       th:href="@{'/udalosti/edit/' + ${event.insuranceEventId}}">Editovat</a>
            </tr>
            </tbody>
        </table>
        <div id="pagination" th:if="${pagination}" class="d-flex justify-content-center align-items-center mt-3 mb-sm-3"></div>
    </section>
    <footer class="d-flex justify-content-center align-items-center mt-3 mb-sm-3">
        <nav aria-label="Stránkování">
            <ul class="pagination">
                <li th:if="${previousPage}" class="page-item">
                    <a class="page-link" th:href="@{'/pojistenci/stranka/' + ${previousPage}}" aria-label="Prev">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Prev</span>
                    </a>
                </li>
                <li th:if="${pageBeforeLast}" class="page-item"><a class="page-link"
                                                                   th:text="${pageBeforeLast}"
                                                                   th:href="@{'/pojisteni/stranka/' + ${pageBeforeLast}}"></a>
                </li>
                <li th:if="${previousPage}" class="page-item"><a class="page-link" th:text="${previousPage}"
                                                                 th:href="@{'/pojisteni/stranka/' + ${previousPage}}"></a>
                </li>
                <li th:if="${thisPage}" class="page-item active"><a class="page-link" th:text="${thisPage}"
                                                                       href="#"></a></li>
                <li th:if="${nextPage}" class="page-item"><a class="page-link" th:text="${nextPage}"
                                                             th:href="@{'/pojisteni/stranka/' + ${nextPage}}"></a>
                </li>
                <li th:if="${pageAfterNext}" class="page-item"><a class="page-link" th:text="${pageAfterNext}"
                                                                  th:href="@{'/pojisteni/stranka/' + ${pageAfterNext}}"></a>
                </li>

                <li th:if="${nextPage}" class="page-item">
                    <a class="page-link" th:href="@{'/pojistenci/stranka/' + ${nextPage}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </footer>
</article>

<footer></footer>

</body>
</html>