<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/layout.html :: head}"></head>
<body>
<header th:replace="~{fragments/layout.html :: header}"></header>

<article>
    <header>
        <h3 th:text="'Upravit pojištění k ' + ${insured.firstName} + ' ' + ${insured.lastName}" class="py-4"></h3>
    </header>
    <section>
        <form method="post" th:action="@{'/pojisteni/' + ${insuredId} + '/edit/' + ${insuranceId}}"
              th:object="${insuranceDTO}">
            <div class="form-row col-xl-8 col-sm">
                <div class="form-group col">
                    <label for="insuranceType">Pojištění</label>
                    <select th:field="*{insuranceType}" id="insuranceType" class="form-control">
                        <option value="Pojištění majetku">Pojištění majetku</option>
                        <option value="Zdravotní pojištění">Zdravotní pojištění</option>
                        <option value="Povinné ručení">Povinné ručení</option>
                    </select>
                    <small class="text-danger" th:errors="*{insuranceType}"></small>
                </div>
            </div>
            <div class="form-row col-xl-8 col-sm">
                <div class="form-group col-md-6 col-sm">
                    <label for="amount">Částka</label>
                    <input th:field="*{amount}" type="text" class="form-control" id="amount">
                    <small class="text-danger" th:errors="*{amount}"></small>
                </div>
                <div class="w-100 d-md-none"></div>
                <div class="form-group col-md-6 col-sm">
                    <label for="insuredObject">Předmět pojištění</label>
                    <input th:field="*{insuredObject}" type="text" class="form-control" id="insuredObject">
                    <small class="text-danger" th:errors="*{insuredObject}"></small>
                </div>
            </div>
            <div class="form-row col-xl-8 col-sm">
                <div class="form-group col-md-6 col-sm">
                    <label for="validFrom">Platnost od</label>
                    <input th:field="*{validFrom}" type="date" class="form-control" id="validFrom" placeholder="">
                    <small class="text-danger" th:errors="*{validFrom}"></small>
                </div>
                <div class="w-100 d-md-none"></div>
                <div class="form-group col-md-6 col-sm">
                    <label for="validUntil">Platnost do</label>
                    <input th:field="*{validUntil}" type="date" class="form-control" id="validUntil">
                    <small class="text-danger" th:errors="*{validUntil}"></small>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center mt-3 mb-sm-3">
                <button class="btn btn-primary" type="submit">Uložit</button>
                <a class="btn btn-secondary ml-1" type="button" th:href="@{'/pojistenci/' + ${insuredId}}">Detail pojištěnce</a>
            </div>
        </form>
    </section>
</article>
</body>
</html>