<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/layout.html :: head}"></head>
<body>
<header th:replace="~{fragments/layout.html :: header}"></header>

<div class="py-2 mt-3 alert alert-success text-center" th:text="${success}" th:if="${success}"></div>
<div class="py-2 mt-3 alert alert-danger text-center" th:text="${error}" th:if="${error}"></div>

<article>
    <header>
        <h3 class="py-4">Pojištění</h3>
    </header>
    <section class="d-flex flex-column align-items-center col-xl-8 col-sm">
        <table class="table mt-3" style="border: 2px solid black">
            <thead>
            <th class="col-4" style="border: 2px solid black">Typ pojištění</th>
            <th class="col-4" style="border: 2px solid black">Jméno pojištěnce</th>
            <th class="col-4" style="border: 2px solid black"></th>
            </thead>
            <tbody id="tabulka">
            <tr th:each="pojisteni: ${pojisteni}" style="border: 2px solid black">
                <td style="border: 2px solid black"><a
                        th:href="@{'/pojisteni/' + ${pojisteni.pojistenec.pojistenecId} + '/detail/' + ${pojisteni.pojisteniId}}"
                        th:text="${pojisteni.typPojisteni}"></a></td>
                <td style="border: 2px solid black"><a
                        th:href="@{'/pojistenci/' + ${pojisteni.pojistenec.pojistenecId}}"
                        th:text="${pojisteni.pojistenec.jmeno} + ' ' + ${pojisteni.pojistenec.prijmeni}"></a></td>
                <td class="d-flex flex-column flex-md-row justify-content-md-start">
                    <a class="btn btn-danger mb-1 mb-md-0 mr-md-2" sec:authorize="hasAnyRole('ADMIN', 'POJISTNIK')"
                       th:href="@{'/pojisteni/' + ${pojisteni.pojistenec.pojistenecId} + '/delete/' + ${pojisteni.pojisteniId}}">Odstranit</a>
                    <a class="btn btn-warning" sec:authorize="hasAnyRole('ADMIN', 'POJISTNIK')"
                       th:href="@{'/pojisteni/' + ${pojisteni.pojistenec.pojistenecId} + '/edit/' + ${pojisteni.pojisteniId}}">Editovat</a>

            </tr>
            </tbody>
        </table>
        <div id="paginace" th:if="${paginace}" class="d-flex justify-content-center align-items-center mt-3 mb-sm-3"></div>
    </section>
    <footer class="d-flex justify-content-center align-items-center mt-3 mb-sm-3">
        <nav aria-label="Stránkování">
            <ul class="pagination">
                <li th:if="${predchoziStrana}" class="page-item">
                    <a class="page-link" th:href="@{'/pojistenci/stranka/' + ${predchoziStrana}}" aria-label="Prev">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Prev</span>
                    </a>
                </li>
                <li th:if="${predpredchoziStrana}" class="page-item"><a class="page-link"
                                                                        th:text="${predpredchoziStrana}"
                                                                        th:href="@{'/pojisteni/stranka/' + ${predpredchoziStrana}}"></a>
                </li>
                <li th:if="${predchoziStrana}" class="page-item"><a class="page-link" th:text="${predchoziStrana}"
                                                                    th:href="@{'/pojisteni/stranka/' + ${predchoziStrana}}"></a>
                </li>
                <li th:if="${soucasnaStrana}" class="page-item active"><a class="page-link" th:text="${soucasnaStrana}"
                                                                          href="#"></a></li>
                <li th:if="${pristiStrana}" class="page-item"><a class="page-link" th:text="${pristiStrana}"
                                                                 th:href="@{'/pojisteni/stranka/' + ${pristiStrana}}"></a>
                </li>
                <li th:if="${prespristiStrana}" class="page-item"><a class="page-link" th:text="${prespristiStrana}"
                                                                     th:href="@{'/pojisteni/stranka/' + ${prespristiStrana}}"></a>
                </li>

                <li th:if="${pristiStrana}" class="page-item">
                    <a class="page-link" th:href="@{'/pojistenci/stranka/' + ${pristiStrana}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </footer>
</article>

<footer></footer>

</body>
</html>