<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/layout.html :: head}"></head>
<body>
<header th:replace="~{fragments/layout.html :: header}"></header>

<div class="py-2 mt-3 alert alert-success text-center" th:text="${success}" th:if="${success}"></div>
<div class="py-2 mt-3 alert alert-danger text-center" th:text="${error}" th:if="${error}"></div>

<article>
    <header>
        <h3 class="py-4">Pojištění</h3>
    </header>
    <section class="d-flex flex-column align-items-center col-xl-8 col-sm">
        <table class="table mt-3" style="border: 2px solid black">
            <thead>
            <th class="col-4" style="border: 2px solid black">Typ pojištění</th>
            <th class="col-4" style="border: 2px solid black">Jméno pojištěnce</th>
            <th class="col-4" style="border: 2px solid black"></th>
            </thead>
            <tbody id="table">
            <tr th:each="insurance: ${insurances}" style="border: 2px solid black">
                <td style="border: 2px solid black"><a
                        th:href="@{'/pojisteni/' + ${insurance.insured.insuredId} + '/detail/' + ${insurance.insuranceId}}"
                        th:text="${insurance.insuranceType}"></a></td>
                <td style="border: 2px solid black"><a
                        th:href="@{'/pojistenci/' + ${insurance.insured.insuredId}}"
                        th:text="${insurance.insured.firstName} + ' ' + ${insurance.insured.lastName}"></a></td>
                <td class="d-flex flex-column flex-md-row justify-content-md-start">
                    <a class="btn btn-danger mb-1 mb-md-0 mr-md-2" sec:authorize="hasAnyRole('ADMIN', 'POLICYHOLDER')"
                       th:href="@{'/pojisteni/' + ${insurance.insured.insuredId} + '/delete/' + ${insurance.insuranceId}}">Odstranit</a>
                    <a class="btn btn-warning" sec:authorize="hasAnyRole('ADMIN', 'POLICYHOLDER')"
                       th:href="@{'/pojisteni/' + ${insurance.insured.insuredId} + '/edit/' + ${insurance.insuranceId}}">Editovat</a>

            </tr>
            </tbody>
        </table>
        <div id="pagination" th:if="${pagination}" class="d-flex justify-content-center align-items-center mt-3 mb-sm-3"></div>
    </section>
    <footer class="d-flex justify-content-center align-items-center mt-3 mb-sm-3">
        <nav aria-label="Stránkování">
            <ul class="pagination">
                <li th:if="${previousPage}" class="page-item">
                    <a class="page-link" th:href="@{'/pojistenci/stranka/' + ${previousPage}}" aria-label="Prev">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Prev</span>
                    </a>
                </li>
                <li th:if="${pageBeforeLast}" class="page-item"><a class="page-link"
                                                                        th:text="${pageBeforeLast}"
                                                                        th:href="@{'/pojisteni/stranka/' + ${pageBeforeLast}}"></a>
                </li>
                <li th:if="${previousPage}" class="page-item"><a class="page-link" th:text="${previousPage}"
                                                                    th:href="@{'/pojisteni/stranka/' + ${previousPage}}"></a>
                </li>
                <li th:if="${thisPage}" class="page-item active"><a class="page-link" th:text="${thisPage}"
                                                                          href="#"></a></li>
                <li th:if="${nextPage}" class="page-item"><a class="page-link" th:text="${nextPage}"
                                                                 th:href="@{'/pojisteni/stranka/' + ${nextPage}}"></a>
                </li>
                <li th:if="${pageAfterNext}" class="page-item"><a class="page-link" th:text="${pageAfterNext}"
                                                                     th:href="@{'/pojisteni/stranka/' + ${pageAfterNext}}"></a>
                </li>

                <li th:if="${nextPage}" class="page-item">
                    <a class="page-link" th:href="@{'/pojistenci/stranka/' + ${nextPage}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </footer>
</article>

<footer></footer>

</body>
</html>