<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="">
<head th:replace="~{fragments/layout.html :: head}"></head>
<body>
<header th:replace="~{fragments/layout.html :: header}"></header>

<article>
    <header>
        <h3 th:text="'Přidat pojištění k ' + ${pojistenec.jmeno} + ' ' + ${pojistenec.prijmeni}" class="py-4"></h3>
    </header>
    <section>
        <form method="post" th:action="@{'/pojisteni/' + ${pojistenecId} + '/novePojisteni'}" th:object="${pojisteniDTO}">
            <div class="form-row col-xl-8 col-sm">
                <div class="form-group col">
                    <label for="typPojisteni">Pojištění</label>
                    <select th:field="*{typPojisteni}" id="typPojisteni" class="form-control">
                        <option value="Pojištění majetku">Pojištění majetku</option>
                        <option value="Zdravotní pojištění">Zdravotní pojištění</option>
                        <option value="Povinné ručení">Povinné ručení</option>
                    </select>
                    <small class="text-danger" th:errors="*{typPojisteni}"></small>
                </div>
            </div>
            <div class="form-row col-xl-8 col-sm">
                <div class="form-group col-md-6 col-sm">
                    <label for="castka">Částka</label>
                    <input th:field="*{castka}" type="text" class="form-control" placeholder="10000000" id="castka">
                    <small class="text-danger" th:errors="*{castka}"></small>
                </div>
                <div class="w-100 d-md-none"></div>
                <div class="form-group col-md-6 col-sm">
                    <label for="predmetPojisteni">Předmět pojištění</label>
                    <input th:field="*{predmetPojisteni}" type="text" class="form-control" placeholder="Byt" id="predmetPojisteni">
                    <small class="text-danger" th:errors="*{predmetPojisteni}"></small>
                </div>
            </div>
            <div class="form-row col-xl-8 col-sm">
                <div class="form-group col-md-6 col-sm">
                    <label for="platnostOd">Platnost od</label>
                    <input th:field="*{platnostOd}" type="date" class="form-control" id="platnostOd" placeholder="2000-01-31">
                    <small class="text-danger" th:errors="*{platnostOd}"></small>
                </div>
                <div class="w-100 d-md-none"></div>
                <div class="form-group col-md-6 col-sm">
                    <label for="platnostDo">Platnost do</label>
                    <input th:field="*{platnostDo}" type="date" class="form-control" id="platnostDo" placeholder="2000-12-31">
                    <small class="text-danger" th:errors="*{platnostDo}"></small>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center mt-3 mb-sm-3">
                <button class="btn btn-primary" type="submit">Uložit</button>
            </div>
        </form>
    </section>
</article>
</body>
</html>